@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;

.inicio {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "portada"
        "detalle"
        "imagen-portada";
    width: 100%;
}

@include tablet {
    .inicio {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto auto;
        grid-template-areas:
            "portada portada portada"
            "detalle detalle imagen-portada";
        margin: 0;
        gap: $espaciado-lg;
    }
}

.portada {
    background-image: linear-gradient(
    $color-overlay-inicio,
    $color-overlay-inicio-secundario
) , url("../img/combos blanco y negro.jpg");

    background-size: cover;
    background-position: center;
    width: 100%;
    height: $alto-portada;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    grid-area: portada;

    animation: aparecer-portada 1s ease-out;
}

@keyframes aparecer-portada {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.detalle {
    grid-area: detalle;
    padding: 5%;
}

.imagen-portada {
    margin-right: 0;

    figcaption {
        text-align: center;
        padding: $espaciado-sm;
    }

    img {
        grid-area: imagen-portada;
        width: 100%;
        max-width: 100%;
        height: $alto-imagen-portada;
        object-fit: cover;
        padding: 0;
    }
}

@include tablet {
    .imagen-portada {
        margin-right: $espaciado-lg;
    }
}

#carouselExampleInterval {
    width: 80%;
    max-width: 1100px;
    margin: 30px auto;
}

#carouselExampleInterval img {
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 0;
}

@media (max-width: 767px) {
    #carouselExampleInterval {
        width: 95%;
        margin: 20px auto;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #carouselExampleInterval {
        width: 90%;
    }
}