@use "../utilities/variables" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

main {
    width: 100%;
    margin-left: 0;
}

h1 {
    padding: $espaciado-xl;
    text-align: center;
}

h2 {
    padding: $espaciado-md;
}

h3 {
    padding: $espaciado-sm;
}

p {
    padding: $espaciado-sm;
}

img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 767px) {
    h1 {
        font-size: 28px;
        padding: $espaciado-lg;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 26px;
    }
}