body {
  font-family: Quicksand, Helvetica, sans-serif;
}

h1 {
  font-size: 48px;
  color: #b35e3c;
}

h2 {
  font-size: 32px;
  color: #b35e3c;
}

h3 {
  font-size: 24px;
  color: #b35e3c;
}

p {
  font-size: 18px;
  color: #2c2b2a;
}

* {
  margin: 0;
  padding: 0;
}

main {
  margin-left: 25px;
}

h1 {
  padding: 30px;
  text-align: center;
}

h2 {
  padding: 15px;
}

h3 {
  padding: 10px;
}

p {
  padding: 10px;
}

img {
  padding: 20px;
  width: 300px;
  height: auto;
}

header {
  background-color: #fff6cc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-size: 32px;
  font-weight: bold;
  color: #b35e3c;
}
.navbar-brand:hover {
  color: #834026;
}

nav a {
  text-decoration: none;
  color: #572c10;
  font-size: 18px;
  font-weight: 500;
  padding-left: 20px;
}
nav a:hover {
  color: #b35e3c;
}

footer {
  background-color: #e8d9d0;
  text-align: center;
  padding: 20px;
}
footer ul {
  list-style: none;
}
footer a {
  text-decoration: none;
  color: #000;
}
footer p {
  font-size: 14px;
  color: #2c2b2a;
}

.btn {
  border-radius: 10px;
}
.btn:hover {
  opacity: 0.9;
}

.card {
  background-color: #fff6cc;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}
.card img {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
  padding: 0;
}

.card-hover {
  transition: transform 0.3s ease;
}
.card-hover:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

.contenedor-cards {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 768px) {
  .contenedor-cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 1200px;
  }
}
@media (min-width: 1024px) {
  .contenedor-cards {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1200px;
  }
}

.inicio {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "portada" "detalle" "imagen-portada";
}
@media (min-width: 768px) {
  .inicio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "portada portada portada" "detalle detalle imagen-portada";
    margin: 0;
    gap: 20px;
  }
}

.portada {
  background-image: linear-gradient(rgba(255, 246, 204, 0.6039215686), #fff69a), url("../img/combos blanco y negro.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: portada;
}

.detalle {
  grid-area: detalle;
  padding: 5%;
}

.imagen-portada {
  margin-right: 20px;
}
.imagen-portada figcaption {
  text-align: center;
  padding: 10px;
}
.imagen-portada img {
  grid-area: imagen-portada;
  width: 100%;
  height: 350px;
  object-fit: cover;
  padding: 0;
}

.carousel {
  width: 600px;
}

.carousel-item img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.tit-car {
  color: #b35e3c;
  font-size: 18px;
  background-color: rgba(253, 253, 253, 0.631372549);
}

.text-car {
  color: #0c0c0c;
  font-size: 14px;
  font-weight: 900;
  background-color: rgba(253, 253, 253, 0.631372549);
}

.imgyo img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
}

.detalle {
  padding: 20px;
  text-align: center;
  font-size: 18px;
  color: #2c2b2a;
  background-color: #fcf5d8;
  border: 1px solid #572c10;
  border-radius: 10px;
  margin: 20px;
}

/*# sourceMappingURL=styles.css.map */
